<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
        <meta name="description" content="<%- description %>">
        <meta name="theme-color" content="#4A148C"/>
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#E1BEE7"/>
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#4A148C"/>

        <meta property="og:title" content="<%- title %>">
        <meta property="og:description" content="<%- description %>">
        <meta property="og:url" content="https://links.nickel.place">

        <link rel="apple-touch-icon" href="/icons/icon-192.png">
        <link rel="manifest" href="/manifest.json">

        <title><%- title %></title>

        <style>
            @import url('./css/font-awesome.css');
            @import url('./css/fonts.css');
            @import url('./css/main.css');
            @import url('./css/light.css');
        </style>
    </head>
    <body>
        <div class="container">
            <div class="body">
                <header>
                    <img src="./images/profile.webp" alt="<%- imageAlt %>">
                    <h1><%- description %></h1>
                </header>

                <main>
                    <ul>
                        <% links.forEach(function(link) { %>
                        <li>
                            <a href="<%- link.url %>" target="_blank">
                                <%- link.title %>
                                <span class="fa-sr-only">Opens in new window</span>
                                <span class="fas fa-ext"></span>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </main>
            </div>
        </div>
    </body>
</html>
